.education-layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px;
    max-width: 1200px;
    margin: 110px auto 40px;
    padding: 0 20px;
    padding-top: 50px;
    
    box-sizing: border-box;
}

.education-card {
    height: 600px;
    padding: 16px;
    width: 380px;
    border: 3px solid #fff;
    color: #fff;
    font-size: large;
    background: rgba(0,0,0,0.85);
    border-radius: 8px;
    box-sizing: border-box;
    overflow-y: auto;
}


.education_list, .key_achievements, .headings{

    display: grid;
    line-height: 1.8;
    animation: float-in 700ms ease-out both;
    gap: 10px;
}

@media (max-width: 900px) {
    .education-layout {
        grid-template-columns: 1fr;
        margin: 80px 12px 24px;
        padding: 0;
    }
}
