.edit_card {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    max-width: 960px;
    width: 40%;
    height: 600px;
    
    padding: 16px;
    border: 3px solid #fff;
    color: #fff;
    font-size: large;
    background: rgba(0,0,0,0.85);
    border-radius: 8px;
    z-index: 1000;

    overflow-y: auto;
    box-sizing: border-box;
}


.education_list{

    display: grid;
    gap: 10px;
}

.skills {


    line-height: 1.8;
}

@media (max-width: 900px) {
    .edit_card {
        position: fixed;
        width: 100%;
        top: 320px;
        left: 184px;
        max-width: 79%;
        height: 500px;
        margin: 80px 12px 24px;
        padding: 12px;
        box-sizing: border-box;
    }
}
