.header{
    
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0;
    top: 0;
    left: 0;
    padding: 15px 20px;
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Helvetica Neue", sans-serif;
}

#Home{

    position: absolute;
    top: 15px;
    left: 900px;
    padding: 15px 20px;

}

#Education{

    position: absolute;
    top: 15px;
    left: 1010px;
    padding: 15px 20px;
}

#Experience{

    position: absolute;
    top: 15px;
    left: 1150px;
    padding: 15px 20px;
    
}

#Blog{

    position: absolute;
    top: 15px;
    left: 1300px;
    padding: 15px 20px;
}

#insta_logo{

    position: absolute;
    top: 7px;
    left: 1400px;
    height: 70px;
    width: auto;
}


#rick_roll{

    position: absolute;
    top:   17px;
    left: 1500px;
    height: 50px;
    width: auto;
}

#logo{

    position: absolute;
    top:   5px;
    left: 400px;
    height: 70px;
    width: auto;
}


a {
  color: white;
  font-size: large;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}