body {
  background: 
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('../resources/mountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.home{

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Helvetica Neue", sans-serif;
    
}

.headers{

    position: fixed;
    border: 4px solid white;
    padding: 10px 20px;
    color: white; /* text color */
    font-size: 40px;
}

.lists{

    position: fixed;
    display: grid;
    padding: 10px 20px;
    color: white; /* text color */
    font-size: 20px;
    gap: 20px;
}

#interests_list{

    top: 680px;
    left: 432px;
}

#plans_list{
    
    top: 680px;
    left: 1252px;
}

#interests{

    top: 550px;
    left: 412px;
}

#plans{

    top: 550px;
    left: 1232px;

    /* Optical illusion??? */
    /*left: 412px;*/
}


#profile_photo{

    position: fixed;
    left: 800px;
    top: 150px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#name {
    position: fixed;
    left: 812px;
    top: 400px;
    border: 4px solid white;
    padding: 10px 20px;
    color: white; /* text color */
    font-size: 40px;
}