.projects-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
    max-width: 1100px;
    margin: 110px auto 40px;
    padding: 0 20px;
    padding-top: 50px;
    box-sizing: border-box;
}

.projects-card {
    width: 100%;
    height: 600px;
    padding: 16px;
    border: 3px solid #fff;
    color: #fff;
    font-size: large;
    background: rgba(0,0,0,0.85);
    border-radius: 8px;
    overflow-y: auto;
    box-sizing: border-box;
    transition: 0.5s ease;
}

.projects-card:hover {

    transform: scale(1.1);
    border: 3px solid #00FF7F;
}

@media (max-width: 900px) {
    .projects-layout {
        position: relative;
        grid-template-columns: 1fr;
        margin-top: 150px;
        margin-left: 40px;
        margin-right: 40px;
        gap: 50px;
        padding: 0;
    }

    .projects-card {
        width: 100%;
        height: 500px;
        padding: 0px;
        padding-left: 15px;
        padding-right: 25px;
    }

    #projects {

        margin-bottom: 20px;
    }
}
